html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FADADD;
}

#container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
}

#image-container {
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    gap: 20px; /* space between cat and bell */
}

.cat-img {
    width: 180px;
    height: auto;
}

.bell-img {
    width: 120px;
    height: auto;
}

#text-container {
    z-index: 2;
    text-align: center;
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
    color: black;
}

button {
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: black;
    border: none;
    cursor: pointer;
}
