html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FADADD;
    overflow: hidden;
}

#container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
}

/* IMAGE AREA */
#image-container {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#image-container img {
    width: 180px;
    height: auto;
    background: transparent;
}

/* TEXT */
#text-container {
    z-index: 2;
    text-align: center;
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
    margin-bottom: 20px;
    color: white;
}

/* BUTTONS */
#options {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}
